* {
    font-family: 'Segoe UI Regular';

}

ul.menu {
    background-color: black;
}

ul.menu li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

ul.menu li {
    padding: 30px;
    margin: 0 0;
}

ul.menu li a:hover {
    color: white;
}

ul.menu li:hover {
    background-color: #F36917;
}

.container-fluid {
    background-color: white;
}

header .contacto>div {
    vertical-align: bottom;
}

header .contacto>div a, header .user-utils>div a {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header .contacto>div span {
    font-size: 20px;
    color: black;
    font-weight: bold;

}

.fa-user:before, .fa-shopping-cart:before {
    font-size: 40px;
    color: #F36917;

}

header .user-utils #shopping-cart>span {
    font-size: 30px;
    color: black;
    font-weight: bold;    
    border-radius: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
    margin-left: -8px;
    padding: 0;
    line-height: 0px;
    text-align: center;
}

header .user-utils>div {
    vertical-align: bottom;
}

footer {
    background-color: #F36917;
    color: black;
}

footer .footer_links ul li a {
    color: black;

}

footer .footer_links ul li {
    text-align: center;

}

footer .footer_links ul li a:hover {
    color: black;
    font-weight: bold;
}

footer .footer_links h4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

.copyright {
    background-color: black;
    color: white;
    font-size: 18px;
}

#main h3 {
    color: black;
    font-weight: bold;
    text-align: left;
}

.cesta {
    text-align: center;
}

.cesta .f1 {
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-weight: bold;

}

.cesta .f1 td {
    padding: 20px;

}

.fa-times {
    color: red;
    font-size: 24px;
}

.fa-times:hover {
    opacity: 0.5;
}

.cesta input {
    width: 40%;
}

.total {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    border-bottom-style: dashed;

}

.total .total2 {
    color: black;
}

.total td {
    padding: 2%;
}

.total tr:nth-child(3), .total tr:nth-child(2) {
    font-weight: bold;
}

.total tr:last-child {
    font-size: 20px;
}

.total tr:last-child span {
    font-weight: bold;
    float: right;

}

.comprar {
    margin-top: 1%;
    font-size: 18px;
    padding: 8px 16px;
    border: 1px solid #F36917;
    border-radius: 5px;
    color: black;
    background-color: #F36917;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

.comprar:hover {
    opacity: 0.8;
}

.fa-bars {
    color: white;
    font-size: 20px;
    display: none;
}

hr {
    color: black;
}

.inform {


    background-color: rgb(224, 224, 224);
    width: 100%;
    text-align: center;
    margin-bottom: 4%;


}

.inform1 {
    display: inline-block;
    width: 32%;
    padding: 4%;
    text-align: center;

}

.adicional {
    font-size: 22px;
    text-align: center;
    margin-bottom: 4%;
}

.fa-truck-moving, .fa-recycle, .fa-laptop {
    font-size: 50px;
}

.cesta .f2 td:nth-child(5) {
    text-decoration: line-through;
}

.max {
    color: green;
    font-weight: bold;
}

.gastos_envio {
    color: red;
    font-weight: bold;
}

.noexists {
    margin-top: 5%;
    font-size: 30px;
    color: #F36917;

}

#totop {
    font-size: 30px;
    display: none;
    position: fixed;
    right: 55px;
    bottom: 114px;
    width: 44px;
    height: 44px;
    background: #F36917;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    border-radius: 20px;
}

#totop i {
    color: black;
}

header .user-utils>div>#my-account i {
    color: black;
}

header .user-utils #shopping-cart>span {
    background-color: white;
   
}

/* MOBILE */
@media(max-width: 460px) {

    /* CABECERA */
    header .contacto>div>span {
        display: none;
    }

    header .contacto {
        order: 1;
    }

    header .user-utils {
        order: 2;
    }

    header #logo {
        order: 3;
    }

    #logo img {
        width: 60px;
        position: absolute;
        top: 0;
        left: 40%;
        margin-top: 2%;
    }

    header .contacto>div a {
        font-size: 16px;
        display: none;
    }

    .fa-bars {
        color: black;
        font-size: 40px;
        display: flex;
        cursor: pointer;
    }

    /* MENÚ */
    .menu {
        width: 70%;
        margin-top: 3%;
        display: none;
    }

    ul.menu {}

    ul.menu>li a {
        font-size: 30px;
    }

    /* PIE DE PÁGINA */
    footer .footer_links h4, footer .footer_links ul {
        text-align: center;
    }

    .cesta .f1 {
        display: none;
    }

    .cesta .f2>td:nth-child(1), .cesta .f2>td:nth-child(2), .cesta .f2>td:nth-child(3) {
        display: inline;
    }

    .cesta .f3>td:nth-child(1), .cesta .f3>td:nth-child(2), .cesta .f3>td:nth-child(3) {
        display: inline-block;
    }


    .cesta .f3>td, .cesta .f2>td {
        margin: 2%;

    }

    .cesta .f2>td {
        width: 25%;
    }

    header .user-utils>div a:last-child {
        display: none;
    }

    header .user-utils>div a:nth-child(2) {
        display: none;
    }

    /* Cabecera de la página */
    footer {

        margin: auto;
    }

    .footer_links {
        columns: 1;
        text-align: center;

    }

    .footer_links .column {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin: 20px;
    }

    .footer_links .column h4 {
        font-size: 30px;
    }

    .column ul li a {
        font-size: 20px;
    }
}